<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appname</key>
		<string>app1</string>
		<key>appicon</key>
		<string>app1</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app2</string>
		<key>appicon</key>
		<string>app2</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app3</string>
		<key>appicon</key>
		<string>app3</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app4</string>
		<key>appicon</key>
		<string>app4</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app5</string>
		<key>appicon</key>
		<string>app5</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app6</string>
		<key>appicon</key>
		<string>app6</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app7</string>
		<key>appicon</key>
		<string>app7</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app8</string>
		<key>appicon</key>
		<string>app8</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>app9</string>
		<key>appicon</key>
		<string>app9</string>
	</dict>
</array>
</plist>
